# ***Excercise 1***

In [ ]:
Student_details = {'Name':'Jacob Thomas Joshy','Student number':'ST0020', 'E-mail':'jacobtjoshy@gmail.com' }
for i in Student_details:
  print(f"{i} : {Student_details.get(i)}")

Name : Jacob Thomas Joshy
Student number : ST0020
E-mail : jacobtjoshy@gmail.com

# ***Excercise 2***

In [ ]:
print("Name : Jacob Thomas Joshy\nStudent number : ST0020\nE-mail : jacobtjoshy@gmail.com")

Name : Jacob Thomas Joshy
Student number : ST0020
E-mail : jacobtjoshy@gmail.com

# ***Excercise 3***

In [ ]:
Maths=[(14,7)]
for (i,j) in Maths:
  Add = i+j
  Subtract = i-j
  Multiply = i*j
  Divide = i/j
  print(f"Addition of the two numbers provide : {Add}\nSubtraction of the numbers provide : {Subtract}\nMultiplication of the numbers provide :{Multiply}\nDivision of the numbers provide :{Divide}")

Addition of the two numbers provide : 21
Subtraction of the numbers provide : 7
Multiplication of the numbers provide :98
Division of the numbers provide :2.0

# ***Excercise 4***

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

# ***Excercise 5***

In [ ]:
print('\"SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\".')

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

# ***Excercise 6***

In [ ]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entri2023
Entri*2023

# ***Excercise 7***

In [ ]:
num=23
textnum="57"
decimal=98.3
print(f'num is a {type(num)}\ntextnum is a {type(textnum)}\ndecimal is a{type(decimal)}')
total_sum = num + int(textnum) + decimal
print(f"Sum: {total_sum}\nType of sum: {type(total_sum)}")

num is a <class 'int'>
textnum is a <class 'str'>
decimal is a<class 'float'>
Sum: 178.3
Type of sum: <class 'float'>

# ***Excercise 8***

In [2]:
days_in_a_year = 365
hours_in_a_day = 24
minutes_in_a_hour = 60
Total_no_of_minutes_in_a_year =  days_in_a_year * hours_in_a_day * minutes_in_a_hour
print(f"There are {Total_no_of_minutes_in_a_year} minutes in a year.")

There are 525600 minutes in a year.

# ***Excercise 9***

In [6]:
name =input("Kindly Enter Your Name :")
gender = input("Kindly Enter Your Gender as M/F :")
if gender == "M":
  print(f"Welcome To The Game show, Mr.{name}")
else:
  print(f"Welcome To The Game show, Ms.{name}")

Kindly Enter Your Name :Jacob
Kindly Enter Your Gender as M/F :M
Welcome To The Game show, Mr.Jacob

# ***Excercise 10***

In [11]:
pounds_amount = float(input("Enter the amount in Pounds (£): "))

dollar_amount = pounds_amount * 1.22

print(f"Currently, £{pounds_amount} equals ${dollar_amount}.")

Enter the amount in Pounds (£): 10
Currently, £10.0 equals $12.2.