# **Excercise 1**

In [1]:
import numpy as np

arr = np.arange(1, 11)

matrix = arr.reshape(2, 5)

print(f"2x5 rehsaped Matrix is :{matrix}")

2x5 rehsaped Matrix is :[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

# **Excercise 2**

In [2]:
arr = np.arange(1, 21)

extracted_elements = arr[5:15]

print(f"Extracted Elements (Index 5 to 14):{extracted_elements}")

Extracted Elements (Index 5 to 14):[ 6  7  8  9 10 11 12 13 14 15]

# **Excercise 3**

In [3]:
import pandas as pd


fruits = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})

fruits['pears'] = 4

print(f"Updated Series:{fruits}")

Updated Series:apples     3
bananas    2
oranges    1
pears      4
dtype: int64

# **Excercise 4**

In [4]:
data = {
    'name': ['John', 'Alice', 'Bob', 'Emma', 'Raj', 'Liam', 'Sophia', 'David', 'Olivia', 'Mia'],
    'age': [25, 30, 28, 24, 35, 40, 22, 31, 27, 26],
    'gender': ['M', 'F', 'M', 'F', 'M', 'M', 'F', 'M', 'F', 'F']
}

df = pd.DataFrame(data)

print(f"DataFrame:{df}")

DataFrame:     name  age gender
0    John   25      M
1   Alice   30      F
2     Bob   28      M
3    Emma   24      F
4     Raj   35      M
5    Liam   40      M
6  Sophia   22      F
7   David   31      M
8  Olivia   27      F
9     Mia   26      F

# **Excercise 5**

In [5]:
df['occupation'] = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']

print(f"DataFrame with Occupation Column:{df}")

DataFrame with Occupation Column:     name  age gender  occupation
0    John   25      M  Programmer
1   Alice   30      F     Manager
2     Bob   28      M     Analyst
3    Emma   24      F  Programmer
4     Raj   35      M     Manager
5    Liam   40      M     Analyst
6  Sophia   22      F  Programmer
7   David   31      M     Manager
8  Olivia   27      F     Analyst
9     Mia   26      F  Programmer

# **Excercise 6**

In [6]:
age_30_plus = df[df['age'] >= 30]

print(f"Employees with Age >= 30:{age_30_plus}")

Employees with Age >= 30:    name  age gender occupation
1  Alice   30      F    Manager
4    Raj   35      M    Manager
5   Liam   40      M    Analyst
7  David   31      M    Manager

# **Excercise 7**

In [7]:
df.to_csv('employees.csv', index=False)

df_from_csv = pd.read_csv('employees.csv')

print(f"DataFrame read from CSV:{df_from_csv}")

DataFrame read from CSV:     name  age gender  occupation
0    John   25      M  Programmer
1   Alice   30      F     Manager
2     Bob   28      M     Analyst
3    Emma   24      F  Programmer
4     Raj   35      M     Manager
5    Liam   40      M     Analyst
6  Sophia   22      F  Programmer
7   David   31      M     Manager
8  Olivia   27      F     Analyst
9     Mia   26      F  Programmer