#**Question 1**

In [4]:
while True:
  Number = int(input("Enter the number :"))
  if 1<= Number <= 12:
    months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
    print(f"The month is {months[Number-1]}")
    break
  else:
    print("Invalid input! Please try again.")

Enter the number :5
The month is May

#**Question 2**

In [8]:
ticket_price = 6.00
age = int(input("Enter Your Age :"))
if age >= 60 :
  ticket_price = ticket_price / 3
  print(f"You are eligible for a one-third price ticket. Your ticket price is £{ticket_price}")
elif age < 16:
  ticket_price = ticket_price / 2
  print(f"You are eligible for a half price ticket. Your ticket price is £{ticket_price}")
else:
  full_price = ticket_price
  print(f"Your ticket price is £{full_price}.")

Enter Your Age :30
Your ticket price is £6.0.

#**Question 3**

In [26]:
Weight = float(input("Enter Your Weight(in kgs) :"))
Height = float(input("Enter Your Height(in m) :"))
if Weight <= 0 or Height <= 0:
    print("Please enter valid positive numbers for weight and height.")
else:
  BMI = Weight / (Height*Height)
  if BMI < 18.5 :
    Category = "Underweight"
    Direction = "Consider gaining weight to reach a healthier range."
  elif 18.5 <= BMI <= 24.9:
    Category = "Normal"
    Direction = "Great job! Keep maintaining your current weight."
  elif 25 <= BMI <= 29.9:
    Category = "Overweight"
    Direction = "Consider losing weight to improve your health."
  elif 30 <= BMI :
    Category = "Obese"
    Direction = "It's important to work towards a healthier weight range."
  print(f"Your BMI is {BMI:.2f}")
  print(f"You are in the {Category} range. {Direction}, Thank You")

Enter Your Weight(in kgs) :83.
Enter Your Height(in m) :1.83
Your BMI is 24.78
You are in the Normal range. Great job! Keep maintaining your current weight., Thank You

#**Question 4**

In [22]:
list1 =[]
greatest = None
for i in range(3):
  num =(float(input("Enter your number :")))
  list1.append(num)
  if greatest == None or num > greatest:
    greatest = num

print(f"Your number are {list1}, and the greatest among them is {greatest} ")

Enter your number :8
Enter your number :9
Enter your number :-13
Your number are [8.0, 9.0, -13.0], and the greatest among them is 9.0

#**Question 5**

In [4]:
num = int(input("Enter your number: "))

factorial = 1
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0 or num == 1:
    factorial = 1
else:
    while num > 1:
        factorial *= num
        num -= 1
print(f"The factorial is {factorial}.")

Enter your number: 5
The factorial is 120.

#**Question 6**

In [6]:

num = int(input("Enter a number: "))

reversed_num = 0
while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num = num // 10
print(f"The reversed number is: {reversed_num}")

Enter a number: 56
The reversed number is: 65

#**Question 7**

In [10]:
num = int(input("Enter a number: "))

multiples= []
for i in range(1,11):
  multiples.append(num*i)
print(f"The multiples of {num} are {multiples}")

Enter a number: 12
The multiples of 12 are [12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

#**Question 8**

In [12]:
while True:
    semi_infinite_loop = input("Enter your value: ")
    print(semi_infinite_loop)
    if semi_infinite_loop.lower() == "done":
        break

Enter your value: Done
Done

#**Question 9**

In [16]:
list = []
for i in range(1,11):
  if i % 3 ==0 and i % 5 == 0:
    list.append("FizzBuzz")
  elif i%3 ==0:
    list.append("Fizz")
  elif i% 5 == 0:
    list.append("Buzz")
  else:
    list.append(i)
print(f"The final list is : {list}")

The final list is : [1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz']

#**Question 10**

In [20]:
for i in range(5,0, -1):
  for j in range(i,0,-1):
    print(j, end='')
  print()

54321
4321
321
21
1