### ***LISTS***

#***Question 1***

In [41]:
import random as rd
list_of_random_numbers = [rd.randint(1, 9999) for _ in range(5)]

print("List of random numbers:", list_of_random_numbers)

List of random numbers: [1913, 898, 3691, 3898, 660]

# ***Question 2***

In [42]:
print("Original List was :", list_of_random_numbers)
list_of_random_numbers.extend([rd.randint(1, 9999) for _ in range(3)])
print("Updated List of random numbers:",list_of_random_numbers)

Original List was : [1913, 898, 3691, 3898, 660]
Updated List of random numbers: [1913, 898, 3691, 3898, 660, 9717, 9572, 4486]

#***Question 3***

In [43]:
for index, value in enumerate(list_of_random_numbers):
  print(f"Position : {index} and number is {value}")

Position : 0 and number is 1913
Position : 1 and number is 898
Position : 2 and number is 3691
Position : 3 and number is 3898
Position : 4 and number is 660
Position : 5 and number is 9717
Position : 6 and number is 9572
Position : 7 and number is 4486

# *DICTIONARY*

#***Question 1***

In [28]:
Personal_details ={"Name":"John", "Age":"25", "Address":"New york"}
for i in Personal_details:
  print(f"{i}:{Personal_details.get(i)}")

Name:John
Age:25
Address:New york

#***Question 2***

In [29]:
Personal_details.update({"Phone number":"1234567890"})
for i in Personal_details:
  print(f"{i}:{Personal_details.get(i)}")

Name:John
Age:25
Address:New york
Phone number:1234567890

# *SETS*

#***Question 1***

In [48]:
set1 ={1,2,3,4,5}
print("The set is :", set1)

The set is : {1, 2, 3, 4, 5}

# ***Question 2***

In [49]:
set1.add(6)
print("Updated set is :", set1)

Updated set is : {1, 2, 3, 4, 5, 6}

# ***Question 3***

In [50]:
print(f"Original set was: {set1}")
set1.remove(3)
print(f"The set after removing 3: {set1}")

Original set was: {1, 2, 3, 4, 5, 6}
The set after removing 3: {1, 2, 4, 5, 6}

# ***TUPLES***




#***Question 1***

In [37]:
tuple1=(1,2,3,4,5)
print(type(tuple1))
print("The tuple is",tuple1)

<class 'tuple'>
The tuple is (1, 2, 3, 4, 5)

# ***Question 2***

In [38]:
print(len(tuple1))

5